<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>landing page</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/typicons/typicons.css">
    <link rel="stylesheet" href="../../vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- css links -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <link rel="stylesheet" href="css/vertical-layout-light/styleforindex.css">
    <link rel="stylesheet" href="css/vertical-layout-light/background.css">

    <!-- endinject -->
    <link rel="shortcut icon" href="./images/téléchargement.jpg" />
</head>

<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div style="background-color: aliceblue; border-radius: 15px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); width: 60%;height: 600px;"  class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img style="width:250px ;margin-left:37%; " src="./images/logo.gif" alt="logo">
              </div>
              <h4 style="color: #fff; margin-left:45% ; margin-top: 5%;margin-bottom: 10%;">Bonjour</h4>
              
              <div style="margin-bottom:-9.6% ;margin-left: 7%;" class="mt-3">
                <h6  class="fw-light">Connecter en tant qu'administrateur.</h6>
                <a style="width: 300px; height: 60px;" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" href="./pages/samples/adminLogin.html">SE CONNECTER </a>
              </div>
              <div style="margin-left:65% ;" class="mt-3">
                <h6  class="fw-light">Connecter en tant qu'un prestataire</h6>
                <a style="width: 300px; height: 60px;" class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn" href="./pages/samples/login.html">SE CONNECTER</a>
              </div>
          
   
  </div>
  </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
</body>

</html>