body {
	background: linear-gradient(-45deg,  #fc0328,#de586c,#d1d4d5, #9ea4a7);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
